.task {
  align-items: center;
  justify-content: space-around;

  display: flex;
  width: 1200px;
  padding: 20px;
  margin: 15px auto;

  border: 5px solid #666;
  border-radius: 5px;
}

.task-title {
  display: inline-block;
  text-decoration: underline;

  border: none;
}

.task-text {
  width: 300px;
}

.grey {
  color: #888;
  text-decoration: line-through;
}

.buttons {
  justify-content: space-between;

  display: flex;
  width: 250px;
  padding: 5px;

  border: 3px solid #444;
  border-radius: 10px;
}

.task-button {
  text-align: center;

  width: 40%;
}
