.task {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  display: flex;
  max-width: 1200px;
  padding: 20px;
  margin: 15px auto;

  border: 5px solid #666;
  border-radius: 5px;
}

@media screen and (min-width: 320px) {
  .task {
    flex-direction: row;
  }
}

@media screen and (max-width: 319px) {
  .task {
    flex-direction: column;
  }
}
