.task-buttons {
  justify-content: space-between;

  display: flex;
  width: 350px;
  padding: 5px;

  border: 3px solid #444;
  border-radius: 10px;
}

.task-button {
  text-align: center;

  width: 30%;
}
